name : ci-workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main 

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: code-checkout
        uses: actions/checkout@v3

      - name: setup-python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: install-dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest streamlit 

      - name: run-tests
        run: |
          pytest _test.py
        